.header-icon{
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
}

.card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 96px;
    justify-content: flex-end;
}
