.banner{
    position: relative; 
    width: 100%;
    height: 72vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner::after {
    content: "";
    background: #171717;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.banner-container{
    z-index: 2;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title-container {
    text-align: center;
}

.news-icon{
    width: 48px;
    height: 48px;
    filter: invert(86%) sepia(69%) saturate(2575%) hue-rotate(28deg) brightness(88%) contrast(86%);
    margin-right: 20px;
}

.big-news-btn {
    z-index: 2; 
    position: absolute;
    bottom: -36px;
  }